<% if signed_in? %>
  <h1><%= t(".title") %></h1>

  <section id="feeds-container">
    <ul data-role="feeds">
      <%= render @feeds %>
    </ul>
  </section>

  <%= link_to(
    t("feeds.buttons.add"),
    new_feed_path,
    {
      data: {
        role: "add-feed-form"
      }
    }
  ) %>

  <div class="feed-form-container">
    <%= render partial: "form", locals: { feed: Feed.new } %>
  </div>

<% else %>
  <%= render "landing" %>
<% end %>
