<% if signed_in? %>
  <h1><%= t(".title") %></h1>

  <table data-role="feeds">
    <tr>
      <th><%= t(".labels.name") %></th>
      <th><%= t(".labels.domain") %></th>
      <th><%= t(".labels.entries") %></th>
      <th><%= t(".labels.actions") %></th>
    </tr>
    <%= render @feeds %>
  </table>

  <%= link_to(
    t("feeds.buttons.add"),
    new_feed_path,
    {
      data: {
        role: "add-feed-form"
      }
    }
  ) %>

  <div id="feed-form-container">
    <%= render partial: "form", locals: { feed: Feed.new } %>
  </div>

<% else %>
  <%= render "landing" %>
<% end %>
