<h1><%= t(".title", feed: @feed.name) %></h1>

<%= link_to t("feeds.buttons.add"), new_feed_path %>

<ul>
  <li data-role="feed-name"><%= @feed.name %></li>
  <li data-role="feed-url"><%= @feed.url %></li>
</ul>

<%= link_to t("feeds.buttons.edit"), edit_feed_path %>


<h2><%= t(".feed_entries") %></h2>

<section data-role="entries">
  <% for entry in @feed.entries -%>
    <article data-role="entry">
      <h3 data-role="headline"><%= link_to entry.headline, edit_feed_entry_path(@feed, entry) %></h3>
      <p data-role="authorship"><%= entry.authorship %></p>
      <p data-role="published_at"><%= entry.published_at %></p>

      <div data-role="summary">
        <h4>Summary</h4>
        <%= entry.summary %>
      <div>

      <div data-role="notes">
        <h4>Notes</h4>
        <%= entry.notes %>
      </div>
    </article>
  <% end %>
<section>
